# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

*.code-workspace
IDE.code-workspace

# Misc
_sass/vendors
assets/js/dist

# Work in progress Files
/[Ww]ip
/[Ttools]
/[Ww]ip/*
/[Ww]ip/*.cmd
/[Ww]ip/*.code-workspace
/[Ww]ip/[Gg]em[Ll]ock [Ff]iles/
/[Ww]ip/[Ii]mgs
/[Ww]ip/[Ii]ncludes
/[Ww]ip/[Pp]ics
/[Ww]ip/[Pp]osts
