/* ##########
PROGRESS - QUICK OVERVIEW
########## */
:root {
	--prog-b-w: 2px;
	
	/*--mile-t: -21px; /*Stick Top Pos*/
	--mile-w: 4px; /*Stick width*/
	--blip-t: -18.5px; /*Blip Top Pos*/
	--blip-l: -12px; /*Bip Left Pos*/
	--blip-size: 12px; /*Blip Diameter*/
	--blip-t-finish: -22px; /*Final Blip T-pos*/
	--blip-l-finish: 12px;
	--blip-w-current: 6px; /*Current Blip width*/
	--blip-l-current: -14px;
}

.prompt-quick,
.w-49,
.left {
	height: auto;
	/* background: var(--c-gray); */
}
.progress {
	border: var(--b-red);
	/* margin: 10px 0; */
	margin: 0;
	padding: 0 0.5em;
	padding-bottom: 1.75em;
	/* height: 10em; */
	/* overflow: hidden; */
}
/* .progress-container {
	margin: 5px;
	padding: 10px;
	padding-bottom: 30px;
	border: var(--b-gray);
} */
/* Progressbars */
.progress-bg {
  /* margin-left: 1em; */
  height: 1em;
  border: var(--prog-b-w) solid var(--c-light);
  border-radius: 1.25em;
  /* background: var(--button-bg); */
  background: var(--c-dark);
}
.progress-fill {
	height: 1em;
	border-radius: 1.25em;
	/* background: #0f0; */
	background: var(--c-green);
}
/*Progress Percent*/
.progress-fill b {
	display: none;
 /* position: absolute; */
 line-height: 0.9em;
 z-index: 2;
 text-shadow: 0 0 2px #000, 0 0 4px #000;
 background: var(--c-dgreen);
}
/*MILESTONES*/
.miles {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	padding: 0 7px;
/* background: var(--c-green); */
}
/*MILE STICK*/
.miles > li {
	height: 10px;
	flex: 3 0 auto;
	width: auto;
	position: relative;
	border-left: var(--mile-w) solid var(--c-blue);
	list-style: none;
	z-index: 1;
/* background: var(--c-red); */
}
/* MILE BLIPS */
.miles > li:after {
	top: var(--blip-t);
	left: var(--blip-l);
	position: absolute;
	width: var(--blip-size);
	height: var(--blip-size);
	content: "";
	border: var(--mile-w) solid var(--c-ablue);
	border-radius: 100%;
background: var(--c-ablue);
}
/*MILE NAME*/
.miles > li b {
	display: inline-flex;
	position: sticky;
	width: 2.5em;
	height: 1.2em;
	padding: 2px;
	overflow: hidden;
	background: var(--c-dyellow);
	border: var(--prog-b-w) solid var(--c-blue);
	cursor: default;
	margin-top: 0.75em;
	margin-left: -1.5em;
	/* display: none; */
}
/*HOVER OVER MILE NAME*/
/* .miles > li:hover b {
	text-align: left;
	overflow: visible;
	rotate: 0deg;
} */

/*FIRST MILESTONE*/
.miles > li:first-child {
	border-left: var(--mile-w) solid var(--c-green);
}
/*FIRST MILE BLIP*/
.miles > li:first-child:after {
	border-color: var(--c-agreen);
	background: var(--c-agreen);
}
/*FIRST MILE name*/
.miles > li:first-child b {
	border-color: var(--c-green);
}


/*LAST MILESTONE*/
.miles > li:last-child {
	flex: none; /* Width:0 Last Mile is Finish */
	border-color: var(--c-yellow);
}
/*LAST MILE BLIP*/
.miles > li:last-child:after {
	border-color: var(--c-ayellow);
	background: var(--c-ayellow);
}
/*LAST MILE name*/
.miles > li:last-child b {
	border-color: var(--c-yellow);
	/* display: none; */
	position: absolute;
	left: -.5em;
	/* right: 0px; */
	/* margin: 0; */
	/* padding: 0; */
}

/* CURRENT MILESTONE */
.miles > li.current {
	border-color: var(--c-orange);
/* background: var(--c-purple); */
}
/* CURRENT MILE BLIP */
.miles > li.current:after {
	top: var(--blip-t-finish);
	left: var(--blip-l-current);
	border-color: var(--c-aorange);
	border-width: var(--blip-w-current);
	background: var(--c-aorange);
}
/* CURRENT mile NAME */
.miles > li.current b {
	border-color: var(--c-orange);
}
