---
---


@use 'main';
@use {%- if jekyll.environment == 'production' -%}main.bundle{%- endif -%}';


/*MY_CUSTOM_STYLE*/

/*Prompt Blocks*/
.prompt-quick {
  padding: 1em !important;
  margin: 0 !important;
  background-color: var(--prompt-tip-bg);
}
.prompt-quick ul {
  list-style: none;
  list-style-position: inside;
}
.prompt-info h3,
.prompt-quick h3,
.prompt-quick p {
  margin: 0em 0.1em 0.25em;
}

/* Images */
.img.badge {
  margin: auto;
  background: var(--img-bg);
  border-radius: 1.25em;
}
.img.badge em {
  white-space: wrap !important;
  font-size: 100% !important;
  padding-bottom: 0.25em !important;
}
a.popup.img-link {
  margin-top: 0 !important;
}
a.popup.img-link img {
  border-radius: 1.25em;
}
.caption {
  marging: 0 0 0.25em 0;
  padding: 0.25em;
  white-space: wrap;
  font-weight: normal;
  font-size: 80%;
  line-height: normal;
  color: var(--text-muted-color);
  cursor: default;
}

.caption:hover em {
  color: var(--text-muted-highlight-color) !important;
}

.quote {
  text-align: center;
  border: none;
}

/* First Post Highlight */
#post-list article:first-child a {
  background: var(--prompt-tip-bg) !important;
}

/* Progressbars */
.progress-bg {
  border-radius: 1.25em;
  background: var(--button-bg);
}
.progress-fill {
  font-size: small;
  font-weight: bolder;
  overflow-wrap: normal;
  padding: 0.02em;
  border-radius: 1.25em;
  background: var(--prompt-tip-icon-color);
  color: var(--text-color);
  text-shadow: 0px 0px 1px var(--text-muted-color),
    0 0 2px var(--text-muted-highlight-color);
}

/* No Sidebar Visible */
.w-49 {
  width: 49%;
}
.w-33 {
  width: 33%;
}
.res {
  float: left;
}
.res.w-33,
.res.w-49 {
  width: 100%;
}
.brS {
  display: inline-block;
}
.brSM {
  display: inline-block;
}
.brM {
  display: none;
}
.brML {
  display: none;
}
.brL {
  display: none;
}

/* Left-Sidebar */
@media only screen and (min-width: 850px) {
  .res.w-33 {
    width: 49%;
  }
  .res.w-49 {
    width: 49%;
  }
  .brS {
    display: none;
  }
  .brSM {
    display: inline-block;
  }
  .brM {
    display: inline-block;
  }
  .brML {
    display: inline-block;
  }
  .brL {
    display: none;
  }
}

/* Both-Sidebar */
@media only screen and (min-width: 1200px) {
  .res.w-33 {
    width: 33%;
  }
  .res.w-49 {
    width: 49%;
  }
  .brS {
    display: none;
  }
  .brSM {
    display: none;
  }
  .brM {
    display: none;
  }
  .brML {
    display: inline-block;
  }
  .brL {
    display: inline-block;
  }
}

/* Mobile */
@media only screen and (max-width: 320px) {
  .w-25,
  .w-50 {
    width: 100% !important;
  }
  .w-50.right {
    float: none;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .w-50 {
    width: 100% !important;
  }
  .w-50.right {
    float: none;
  }
}

/* Desktop */
@media only screen and (max-width: 1024px) {
//  .w-50 {
//    width: auto;
//  }
}

/* Fix floats after */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
