
/* Caption */
.caption {
  marging: 0 0 0.25em 0;
  padding: 0.25em;
  white-space: wrap;
  font-weight: normal;
  font-size: 80%;
  // text-align: center;
  line-height: normal;
  color: var(--text-muted-color);
  cursor: default;
}
.caption:hover em {
  color: var(--text-muted-highlight-color) !important;
}

.quote {
  text-align: center;
  border: none;
}
