/* ##########
LOCATION - QUICK OVERVIEW
########## */



/* Images */
img {
  margin: auto;
  padding: 0.25em;
}
a.popup.img-link {
  margin-top: 0 !important;
}
a.popup.img-link img {
  border-radius: 1.25em;
}
/* Album Entries */
.img.badge {
  background: var(--img-bg);
  border-radius: 1.25em;
}
/* Image Descriptions */
.img.badge em {
  white-space: wrap !important;
  font-size: 100% !important;
  padding-bottom: 0.25em !important;
}

/* Caption */
.caption {
  margin: 0 0 0.25em 0;
  padding: 0.25em;
  white-space: wrap;
  font-weight: normal;
  font-size: 80%;
  line-height: normal;
  color: var(--text-muted-color);
  cursor: default;
}
.caption:hover em {
  color: var(--text-muted-highlight-color) !important;
}

.props {
  display: inline-block;
  width: 100%;
  padding: 0 1em;
  text-align: center !important;
}