* {
	box-sizing: content-box;
}
:root {
	--c-dark: black;
	--c-grey: grey;
	--c-gray: gray;
	--c-light: white;

	--c-red: red;
	--c-green: green;
	--c-blue: blue;
	
	--c-yellow: yellow;
	--c-orange: orange;
	--c-purple: purple;
	--c-pink: pink;
	
	--b-dark: 1px solid var(--c-dark);
	--b-gray: 1px solid var(--c-grey);
	--b-gray: 1px solid var(--c-gray);
	--b-light: 1px solid var(--c-light);

	--b-red: 1px solid var(--c-red);
	--b-green: 1px solid var(--c-green);
	--b-blue: 1px solid var(--c-blue);
	
	--b-yellow: 1px solid var(--c-yellow);
	--b-orange: 1px solid var(--c-orange);
	--b-purple: 1px solid var(--c-purple);
	--b-pink: 1px solid var(--c-pink);
}

body {
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	background: var(--c-dark);
	color: var(--c-light);
}
header, main, aside, footer {
	border: var(--b-gray);
	margin: 5px;
	padding: 8px;
}
nav {
	margin: 0 5px;
}
header, footer {
	text-align: center;
}
article, section {
	border: var(--b-dark);
	margin: 5px;
	padding: 8px;
}

/*NAVIGATION BAR*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--c-dark);
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: var(--c-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: var(--c-light);
}

/* INHERETED FROM CHIRPY */
.right {
	/* INCOMPLETE */
  float: right;
}
.left {
	/* INCOMPLETE */
  float: left;
}


/*MY_CUSTOM_STYLE*/

/*Prompt Blocks*/
.prompt-quick {
  padding: 1em !important;
  margin: 0 !important;
  /* background-color: var(--prompt-tip-bg); */
  /* background-color: var(--c-blue); */
  /* border: var(--b-yellow); */
}
.prompt-quick p {
  padding: 0 1em;
}

/*Quick Overview Sitemap*/
.prompt-quick ul {
  list-style: none;
  list-style-position: inside;
}
.prompt-info h3,
.prompt-quick h3,
.prompt-quick p {
  margin: 0em 0.1em 0.25em;
}

.quote {
  text-align: center;
  border: none;
}

/* First Post Highlight */
#post-list article:first-child a {
  /* background: var(--prompt-tip-bg) !important; */
  background: var(--c-blue) !important;
}