* {
	box-sizing: content-box;
}
:root {
	--border-0: 1px solid black;
	--border-1: 1px solid gray;
	--border-2: 1px solid white;

	--border-3: 2px solid red;
	--border-4: 2px solid green;
	--border-5: 2px solid blue;
	
	--border-6: 3px solid yellow;
	--border-7: 3px solid orange;
	--border-8: 3px solid purple;
	
	--border-9: 4px solid black;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
}
header, main, aside, footer {
	border: var(--border-1);
	margin: 5px;
	padding: 8px;
}
nav {
	margin: 0 5px;
}
header, footer {
	text-align: center;
}
article, section {
	border: ver(--border-0);
	margin: 5px;
	padding: 8px;
}

/*NAVIGATION BAR*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111;
}





/*MY_CUSTOM_STYLE*/

/*Prompt Blocks*/
.prompt-quick {
  padding: 1em !important;
  margin: 0 !important;
  background-color: var(--prompt-tip-bg);
}
.prompt-quick p {
  padding: 0 1em;
}

/*Quick Overview Sitemap*/
.prompt-quick ul {
  list-style: none;
  list-style-position: inside;
}
.prompt-info h3,
.prompt-quick h3,
.prompt-quick p {
  margin: 0em 0.1em 0.25em;
}

.quote {
  text-align: center;
  border: none;
}

/* First Post Highlight */
#post-list article:first-child a {
  background: var(--prompt-tip-bg) !important;
}