/* No Sidebar Visible */
.w-49 {
  width: 49%;
}
.w-33 {
  width: 33%;
}
.res {
  float: left;
}

.brS {
  display: inline-block;
}
.brSM {
  display: inline-block;
}
.brM {
  display: none;
}
.brML {
  display: none;
}
.brL {
  display: none;
}

/* Left-Sidebar */
@media only screen and (min-width: 850px) {
  .res.w-33 {
    width: 49%;
  }
  .res.w-49 {
    width: 49%;
  }
  .brS {
    display: none;
  }
  .brSM {
    display: inline-block;
  }
  .brM {
    display: inline-block;
  }
  .brML {
    display: inline-block;
  }
  .brL {
    display: none;
  }
}

/* Both-Sidebar */
@media only screen and (min-width: 1200px) {
  .res.w-33 {
    width: 33%;
  }
  .res.w-49 {
    width: 49%;
  }
  .brS {
    display: none;
  }
  .brSM {
    display: none;
  }
  .brM {
    display: none;
  }
  .brML {
    display: inline-block;
  }
  .brL {
    display: inline-block;
  }
}

/* Mobile */
@media only screen and (max-width: 320px) {
  .w-49 {
    /* width: 100%; */
    width: auto;
    overflow: auto;
  }
  .w-49.left,
  .w-49.right {
    float: none;
  }
  .w-25,
  .w-50 {
    /* width: 100% !important; */
    width: auto;
    overflow: auto;
  }
  .w-50.right {
    float: none;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .w-49 {
    /* width: 100%; */
    width: auto;
    overflow: auto;
  }
  .w-49.left,
  .w-49.right {
    float: none;
  }
}

/* Desktop */
@media only screen and (max-width: 1024px) {
}

/* Fix floats after */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
